@model RegisterVM
@{
     ViewData["Title"] = "Register";

} 
   
 <section class="register-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-wrapper mt-30">
                        <h4 class="allup-title">Creat New Account</h4>
                        <p class="mt-10">Already have an account? <a asp-action="login">Log in instead!</a></p>

                        <form method="post">
                            <div class="single-form">
                                <input asp-for="FullName" placeholder="Full Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="single-form">
                                <input asp-for="Username" placeholder="User Name">
                                <span asp-validation-for="Username" class="text-danger"></span>                            
                            </div>
                             <div class="single-form">
                                <input asp-for="Email" placeholder="Enter Email">
                                <span asp-validation-for="Email" class="text-danger"></span>                            
                            </div>
                            
                            <div class="single-form">
                                <input asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input asp-for="RepeatPassword" placeholder="Confirm Password">
                                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                            </div>
                           
                            <div class="custom-checkbox mt-30">
                                <input asp-for="Subscribe" type="checkbox" >
                                <label asp-for="Subscribe"></label>
                                <p>Sign Up For Our Newsletter <br> Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collections, The Latest Lookbooks And Exclusive Offers..</p>
                            </div>
                            <div class="single-form">
                                <button type="submit" class="main-btn main-btn-2">Register</button>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("Brand");
    @await Component.InvokeAsync("Banner");
